<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog Auth Assignment</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@1/css/pico.min.css">
</head>
<body>
    <nav class="container">
        <ul>
            <li>
                <a href="{% url 'home' %}">Home</a>
            </li>
        </ul>
        {% if request.user.is_authenticated %}
        <ul>
            <li>
                <a href="{% url 'logout' %}">Logout</a>
            </li>
        </ul>
        {% else %}
        <ul>
            <li>
                <a href="{% url 'login' %}">Login</a>
            </li>
            <li>
                <a href="{% url 'signup' %}">Signup</a>
            </li>
        </ul>
        {% endif %}
    </nav>
    <div class="container">
        <h1>Blog</h1>
        {% if request.user.is_authenticated %}
        <form action="{% url 'post-create' %}" method="post">
            {% csrf_token %}
            <input type="text" name="title" placeholder="Title">
            <input type="text" name="content" placeholder="Content">
            <button type="submit">Create</button>
        </form>
        {% endif %}
        {% for post in posts %}
        <article>
            <h2><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></h2>
            <p>{{ post.content }}</p>
            <p>{{ post.author }}</p>
            <a href="{% url 'profile' post.author.id%}">{{post.author}}</a>
            
        </article>
        {% empty %}
        <p>No posts yet</p>
        {% endfor %}
    </div>

</body>
</html>