<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FOX</title>
    <style>
        html {
            background-color: rgb(4, 4, 86);
            color: white;
        }
    </style>
</head>
<body>
    <h1>Class Fox is the best!</h1>
    <h3>We have learned:</h3>
    <ul>
        <li>python</li>
        <li>html</li>
        <li>css</li>
        <li>django (currently leaning)</li>
    </ul>
</body>
</html>