<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ post.title }}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@1/css/pico.min.css">
    <style>
        .warning {
            color: red;
            border: 1px solid red;
        }
    </style>
</head>
<body>
    {% include 'posts/_navbar.html' %}
    <div class="container">
        <h1>{{ post.title }}</h1>
        <p>{{ post.content }}</p>
        {% if post.author == request.user %}
        <div>
            <a role="button" class="outline contrast" href="{% url 'post-edit' post.id %}">Edit</a>
            <a role="button" class="outline warning" href="{% url 'post-delete' post.id %}">Delete</a>
        </div>
        {% endif %}
    </div>
</body>
</html>