<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Grocery List</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    <h1>Grocery List</h1>
    <h2>Things to buy</h2>
    <ul>
        {% for item in non_purchased_items %}
            <li>{{ item.name }} - {{ item.quantity }} 
                <a class="outline outline-green-500 text-green-500 rounded p-2"href="{% url 'mark_purchased' item.id %}">Mark as purchased</a></li>
                <a class="outline outline-red-500 text-red-500 rounded p-2"href="{% url 'delete_item' item.id %}">Delete</a>
        {% endfor %}
    </ul>
    <h2>Purchased Items</h2>
    
    <ul>
        {% for item in purchased_items %}
            <li>
                {{ item.name }} - {{ item.quantity }}
                 <a class="outline outline-green-500 text-green-500 rounded p-2" href="{% url 'mark_purchased' item.id %}">Mark as not purchased</a>
                 <a class="outline outline-red-500 text-red-500 rounded p-2" href="{% url 'delete_item' item.id %}">Delete</a>
            </li>
        {% endfor %}
    </ul>
    <form action="" method="POST">
        {% csrf_token %}
        <!--A csrf token is uniqe to every page
            and it prevents hackers from attacking.
            it changes eveytime youre on the page 
        -->
        <label>Name:
            <input type="text" name="name">
        </label>
        <label>Quantity:
            <input type="number" name="quantity">
        </label>
        <input type="submit" value="Add">
    </form>
    <form action="{% url 'add_item' %}" method="POST">
</body>
</html>